<!DOCTYPE html>
<html>
{% block title %}
<title> Banking Dashboard </title>
{% endblock %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="image" href="/static/banking/images/favicon.ico">
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body
    style="background-color:darkslategrey;background-image: {% block bg_image %} url('/static/banking/images/agric2.jpg') {% endblock %} ;background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;background-position: center center;"
    class="w3-light-grey">



    {% if msg %}
    <!-- The Modal -->
    <div id="id01" style="display: block;" class="w3-modal">
        <div class="w3-modal-content">
            <div style="background-color: {{color}};" class="w3-container ">
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <p class="w3-padding" style="color: darkslategray;font-weight: bold;"> {{ msg }} </p>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-xlarge" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>

        <img src="/static/banking/images/favicon.ico" class="w3-right" style="background-color: white;">
        <span style="font-weight: bolder;" class="w3-bar-item w3-right w3-text-green w3-large w3-hide-small">

            Agricultural Bank Of
            China </span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-light-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s6">
                <img src="https://eu.ui-avatars.com/api/?name={{request.user.firstname}}+{{request.user.lastname}}"
                    class="w3-circle w3-left w3-margin-right w3-margin-bottom w3-padding w3-center "
                    style="display: block;" width="120px" height="120px">
            </div>
            <div class="w3-col s6 w3-bar">
                <span style="display: inline-block; padding-top: 50px;">Welcome, <strong> 
                    {{ request.user.get_full_name }}
                        
                    </strong></span><br>
                <!--- <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bell"></i></a>
                <a href="/user/dashboard/" title="Dashboard" class="w3-bar-item w3-button"><i
                        class="fa fa-dashboard"></i></a>
                <a href="/" title="Homepage" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
                -->


            </div>
        </div>



        <a style="font-weight:bolder;font-family: 'Times New Roman', Times, serif;" href="#"
            class="w3-bar-item w3-button w3-padding">
            Account Number: {{request.user.account.account_number | truncatechars:12 }} </a>
        <a style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;" href="#"
            class="w3-bar-item w3-button w3-padding">Balance :
            &#165; {{request.user.account.balance }} </a>



        <div class="w3-container w3-border-top w3-border-black">
            <h5 style="font-weight: bolder;"> Banking Dashboard</h5>
        </div>
        <div class="w3-bar-block ">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
                onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>

            <a href="/user/dashboard/" class="w3-bar-item w3-button w3-padding"><i
                    class="fa fa-user-circle-o fa-fw"></i> 
                {{request.user.get_full_name}} </a>

            <a href="/user/dashboard/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw"></i>
                {{request.user.email | truncatechars:12 }} </a>

            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-map-marker fa-fw"></i>
                {{request.user.state}} </a>

            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-flag fa-fw"></i> 
                {{request.user.country}} </a>

            <!-- <p style="font-weight: bolder;" class="w3-large w3-bar-item"> Transfer  <i class="fa fa-send-o"></i></p> -->
            <br>

            <a style="font-weight: bolder;" class="w3-large w3-bar-item" onclick="switchList()" {% block transfer %}
                href="/user/transfer" {% endblock transfer %}
                
                class="w3-bar-item w3-button w3-padding w3-text-blue-gray"><i class="fa fa-send fa-fw"></i> 
                Transfer <i  id = "caret_" class="fa fa-caret-down fa-2x fa-fw w3-right"></i>  </a>

            <div style="display: none;" id="tlist" class="w3-container w3-bar w3-margin-left w3-animate-left">
                <a onclick="switchToLocal()" class="w3-bar-item w3-text-blue w3-hover-aqua"> Local transfer</a>
                <a onclick="switchToIntl()" class="w3-bar-item w3-text-blue w3-hover-aqua"> International Transfer </a>
                <a href="{% url 'banking:historyview' %}"
                    class="w3-bar-item w3-button w3-padding w3-text-blue w3-hover-aqua ">
                    Transfer History </a>
            </div>


        </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px;padding-bottom: 45px;">
            <h5><b><i class="fa fa-dashboard"></i> {% block page_title %} Customer's Dashboard {% endblock %} </b></h5>
        </header>

        {% block history %}
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-half">
                <div class="w3-container w3-round w3-green w3-padding-32">
                    <div class="w3-left"><i class="fa fa-money w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3> {{request.user.account.account_type}} </h3>
                    </div>
                    <div class="w3-clear"></div>
                    <p class="w3-opacity"> Savings Account </p>
                    <h4 style="font-weight: bold;font-size: 1rem;font-family: monospace;">
                        {{request.user.account.account_number}} </h4>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-container w3-round w3-grey w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-yen w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3 style="font-weight: bolder;font-size: 2.5rem;"> {{request.user.account.balance}} <i
                                class="fa fa-yen"></i> </h3>
                    </div>
                    <div class="w3-clear"></div>
                    <p class="w3-opacity"> Available funds </p>
                    <h4> Account Balance </h4>
                </div>
            </div>
        </div>
        {% endblock %}


        <!--

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5> Core Banking </h5>
                    <img src="/static/banking/images/tanking.jpg" height="100%" width="100%" alt="banking at large">
                </div>
                <div class="w3-twothird">
                    <div class="w3-card-4 w3-padding w3-dark-grey">

                        <img src="/static/banking/images/bank2.png" style="float: right;" height="40%" width="30%"
                            alt="banking with agric">
                        <p class="w3-text-white w3-xxlarge w3-padding-48 " style="font-weight: bolder;">
                            Enlarging the gulf of agricultural economy around the globe
                        </p>
                    </div>

                </div>
            </div>
        </div>

    

        <hr>
        <div class="w3-container">

            sth here 
        </div>
    -->




        <br>
        <div class="w3-container w3-dark-grey w3-padding-32">
            <div class="w3-row">
                <div class="w3-container w3-third">
                    <h5 class="w3-bottombar w3-border-green"> Banking Support </h5>
                    <p> Code Of Conduct</p>
                    <p> Info </p>
                    <p> Geoinfo </p>
                </div>
                <div class="w3-container w3-third">
                    <h5 class="w3-bottombar w3-border-red"> Terms </h5>
                    <p> Legal conduct </p>
                    <p> Policies </p>
                    <p> Terms and Conditions </p>
                </div>
                <div class="w3-container w3-third">
                    <h5 class="w3-bottombar w3-border-orange"> Affliates </h5>
                    <p> Internet Affliates</p>
                    <p> Banking Affliates</p>
                    <p> Network Affliates</p>
                    <p> Trade affliates </p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-blue">
            <h4> AGRICULTURAL BANK OF CHINA </h4>
            <p> &copy <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"> {% now "Y" %} </a></p>
        </footer>

        <!-- End page content -->
    </div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
            // document.getElementById("caret_").cl 
        }

        

        {% block script %}

        {% endblock script %}
    </script>

</body>

</html>