<!DOCTYPE html>
<html>
<title> Banking Dashboard </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body
    style="background-color:darkslategrey;background-image: url('/static/banking/images/agric2.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;background-position: center center;"
    class=" w3-center">
    
    <div style="display: none;" class="w3-overlay " style="opacity: 0.3;background-color: rgba(0, 0, 100, 0.4);"></div>
    <br>
    <br>

    {% if msg %}
    <!-- The Modal -->
    <div id="id01" style="display: block;" class="w3-modal">
        <div class="w3-modal-content">
            <div style="background-color: {{color}};" class="w3-container ">
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <p class="w3-padding" style="color: darkslategray;font-weight: bold;"> {{ msg }} </p>
            </div>
        </div>
    </div>
    {% endif %}


    <img src="/static/banking/images/favicon.ico" >

    <h2 style="font-weight:bolder" class="w3-text-white"> Agricultural Bank Of China </h2>
    <h4> Customer Portal </h4>

    <form class="w3-container" method="POST" action="/login/">
        {% csrf_token %}

        <div class="w3-margin">
            <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                name="email" type="text" placeholder="Email Address" required maxlength="255">
        </div>
        <br>
        <div class="w3-margin">
            <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                name="pswd" type="password" placeholder="Password" required minlength="8" maxlength="25">
        </div>

        <input style="width: 70%;max-width: 400px;background-color: darkgreen;font-weight: bold;color: white;"
            type="submit" value="Log In" class="w3-button  w3-padding-16 w3-margin-top">





    </form>


    <div class="w3-bottom w3-container">
        <P style="text-shadow: 2px 2px 2px white;font-weight: bold;"> Agricultural Bank Of China </P>
        <p style="text-shadow: 2px 2px 2px white;font-weight: bold;"> &copy {% now "Y" %} </p>
    </div>

</body>

</html>