<!DOCTYPE html>
<html>
<title> Banking Dashboard </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-center">


    <h2> Agricultural Bank Of China </h2>
    <h4> Customer Portal </h4>
    <div  style = "width: 70%"  class="w3-container">
    <form class="" method ="post" action="" class="w3-card-4 w3-padding-24 w3-round">
        <!-- <label> Email </label> -->
        <input style="width: 80%;max-width: 450px;"  class="w3-input w3-round  w3-xlarge " type="email" required placeholder="Email address ">
        <br>
        <!-- <label> Password </label> -->
        <input  style="width: 80%;max-width: 450px;"  class="w3-input w3-xlarge w3-round " type="password" minlength="8" maxlength="25" required placeholder="Password">


        <button style = "width: 70%;max-width: 450px;" class ="w3-btn w3-padding-24  w3-green w3-round w3-large w"> Log In </button>
    </form>
    </div>



</body>
</html>